.custom-label {
    font-size: 20px;
    -unity-font-style: bold;
    color: rgb(68, 138, 255);
}

#unity-list-view__reorderable-handle {
    justify-content: center;
    padding-top: 0;
}

.bug-tracker {
    flex-grow: 0;
    width: 96px;
    -unity-text-align: middle-right;
}
